* {
  list-style: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #F2F4F5;
  width: 100%;
  max-width: 1600px;
}

p {
  font-size: 14px;
}

main {
  width: 100%;
}

.header-navbar.sticky .removes {
  display: none;
}

.header-navbar {
  /*margin: 0 auto;*/
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
 /* justify-content: space-evenly;*/
  width: 1250px;
  background: #fff;
  height: 60px;
  padding: 2px 0 2px 0;
  /*transition: all 200ms ease;*/
}

.contain {
  width: 1250px; 
  display:inline-flex;
  margin: 0 auto; 
  background: #fff;
  }

.header-navbar.sticky {
  padding: 0;
  margin: 0 auto;
  height: 40px;
  width: 100%;
  min-width: 1440px;
  position: fixed;
  top: 65px;
  z-index: 20;
  opacity: 0.98;
  box-shadow: 0 1px 2px rgba(0,0,0,0.06), 
  0 2px 4px rgba(0,0,0,0.06), 
  0 4px 8px rgba(0,0,0,0.06), 
  0 8px 16px rgba(0,0,0,0.06),
  0 16px 32px rgba(0,0,0,0.06), 
  0 32px 64px rgba(0,0,0,0.06);
}

.header-navbar ul {
  padding: 0;
  /*margin: 0 4rem 0 4rem;*/
  list-style: none;
  display: flex;
  /*align-items: center;
  /*justify-content: space-evenly;*/
  width: 100%;
  background: #fff;
  }

.header-navbar li {
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  background: transparent;
  border-radius: 20px;
  transition: all .45s ease;
}

.header-navbar a{
  color: #1B2A44;
  font-size: 14px;
  z-index: 720;
  text-decoration: none;
}

.header-navbar a:active {
  z-index: 5!important;
  color: #0FA0E3!important;
}

/* :not excludes class for specific use */
.header-navbar a:active:not(.back) {
  transform: scale(1.2);
}

.active {
  z-index: 5!important;
  font-weight:600;
  color: #0FA0E3!important;
  /*border-bottom: 3px solid #0FA0E3;
  padding-bottom: 9px !important;
  margin-bottom: -12px;*/
}

.header-navbar button.back {
  opacity: 0;
  padding-left: 2vw;
  font-size: 20px;
  border: 0px;
  outline: none;
  background: none;
  color: #333;
  height: 50px;
  cursor: pointer;
 /* transition: all .45s ease;*/
}


.header-navbar button.btn-subscribe {
  display: inline-block;
  white-space: nowrap;
  text-align: left;
  width: auto;
  height: 24px; 
  padding: 3px 8px;
  margin-top: 8px;
  margin-right: 30px;
  font-size: 12px;
  border: 1px;
  color: #333;
  background: #F2F4F5;
  border: 1px solid #D6DADE;
  border-radius: 4px;
  cursor: pointer;
}

.header-navbar.sticky button.back {
  opacity: 1; 
}

/* Content sections styling */

  .banner {
    width: 1600px;
    height: 65px;
    background-image: url("banner.png");
    background-repeat: no-repeat;
    display: block;
    position: fixed;
    top:0px; 
  }

  .hero-section{
    width: 1250px; 
    height: 400px;
    position: inherit;
    margin: 65px auto 0;
    background-size: 1250px 400px;
    background-image: url("Section1b.png");
    background-repeat: no-repeat;
  }

#first {
    width: 1600px; 
    height: 847px;
    position: inherit;
    margin-top: 60px;
    background-size: 1600px 847px;
    background-image: url("Section1.png");
    background-repeat: no-repeat;
  }

#second {
  width: 1600px; 
  height: 918px;
  background-size: 1600 918px;
  background-image: url("Section2.png");
  background-repeat: no-repeat;
}

#third {  
  width: 1600px; 
  height: 705px;
  background-size: 1600px 705px;
  background-image: url("section3.png");
  background-repeat: no-repeat;
}

#fourth {  
  width: 1600px; 
  height: 910px;
  background-size: 1600px 910px;
  background-image: url("Section4.png");
  background-repeat: no-repeat;
}

#fifth {
  background-color: #a388e8;
}

#bottom-spacer {
  height: 1200px;
}

